<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="index.css" >
<style>
@import url('https://fonts.googleapis.com/css?family=Acme'); 

body {
    background:url("https://static.pexels.com/photos/30222/pexels-photo-30222.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align:Center;
    font-family: 'Fjalla One';
    color: ivory;
}

h1 {
    font-size:4vmax;
    padding-top:10%;
}

input[type="submit"] {
  border:10px solid black;
  background:white ;
  font-size:2vmax;
  color:black;
  border-radius:30px;
  width: 15%;
}
form {
  font-size:30px;
}


</style>
</head>
<body> 

  <div class="home-page">
    
    <h1>Band Name Generator</h1>
    <form method="POST" action="/results">
     
      <h3>Enter your favorite genre</h3>
      <input type= "radio" value="pop">pop<br>
      <input type= "radio" value="alternative"> alternative<br>
      <input type= "radio" value="rock">rock<br>
      <input type= "radio" value="rap">rap<br>
      <input type= "radio" value="jazz">jazz<br>
      <input type= "radio" value="hip hop"> hip hop<br>
      <input type= "radio" value="country">country<br>
      <input type= "radio" value="opera">opera<br>
      
    
      <h3>Enter your favorite Animal</h3>
      <input type= "radio" value="dog">dog<br>
      <input type= "radio" value="cat">cat<br>
      <input type= "radio" value="sloth">sloth<br>
      <input type= "radio" value="turtle">turtle<br>
      
      <h3>Enter your favorite hobby</h3>
      <input type= "radio" value="netflix">netflix<br>
      <input type= "radio" value="reading">reading<br>
      <input type= "radio" value="art">art<br>
      <input type= "radio" value="playing Music">playing<br>
      <input type= "radio" value="gaming">gaming<br>
      
      <h3>Enter your favorite Color</h3>
      <input type= "radio" value="red">red<br>
      <input type= "radio" value="orange">orange<br>
      <input type= "radio" value="yellow">yellow<br>
      <input type= "radio" value="green">green<br> 
      <input type= "radio" value="blue">blue<br> 
      <input type= "radio" value="purple">purple<br>
      <input type= "radio" value="rainbow">rainbow<br>
      <input type= "radio" value="black">black<br> 
      <input type= "radio" value="white">white<br> 
 
    <h3> Enter your favorite food</h3>
     <input type= "radio" value="burgers">burgers<br>
     <input type= "radio" value="pizza">pizza<br>
     <input type= "radio" value="hot dogs">hot dogs<br>
     <input type= "radio" value="salad">salad<br>
     
     <h3> Enter your favorite instrument</h3>
      <input type= "radio" value="drums">drums<br>
      <input type= "radio" value="guitar">guitar<br>
      <input type= "radio" value="bass">bass<br>
      <input type= "radio" value="voice">voice<br>
     <input type= "radio" value="violin">violin<br>
     <input type="submit" value="click this butttonweifawieofj"><br>
     </form>
     </div>
     </body>
     </html>